.uploadRoute{
    background-color: #fff;
    width: 100%;
    height: 55px;
    border-radius: 0.75em;
    font-size: 1.25em;
    text-align: left;
    color: #707070;
    outline: none;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
}
.routeFirstColumn{
    width: 25%;
    font-size: 1.7em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #302f2f;
}
.routeFirstColumnSmall{
    width: 25%;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #302f2f;
}
.routeInput{
    background-color: white;
    width: 100%;
    height: 55px;
    border-radius:10px;
    font-size: 22px;
    outline: none;
    border: 0;
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-device-width: 480px) {
    .routeFirstColumn{
        font-size: 0.6em;
        word-wrap: break-word;
    }
    .uploadRoute{
        font-size: 0.6em;
        border-radius: 1em;
        height: 45px;
    }
    .routeFirstColumnSmall{
        font-size: 0.25em;
        word-wrap: break-word;
    }

}