.headerBar{
    height: 7%;
    background-color: black;
    display: flex;
    width: 100%;
}

.leftDiv{
    background-color: #302f2f;
    width: 22.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bar{
    background-color: #302f2f;
    width: 55%;
    display: inline;
}

.rightDiv{
    background-color: #302f2f;
    width: 22.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#tabs{
    font-size: 1.2em;
    flex: 1;
    height: 100vw;
    color: #fff;
    text-transform: none;
    font-family: 'Lato', sans-serif;
}

#loginButton{
    width: 40%;
    height: 65%;
    background-color: #fadf78;
    color: #302f2f;
    text-transform: none;
    font-family: 'Lato', sans-serif;
    border-radius: 1em;
    font-size: 1.2em;
}


#loginButton:hover
{
    background-color: #f8d259;
}

#registerButton
{
    width: 47.5%;
    height: 65%;
    color: #fff;
    font-weight: bold;
    border-radius: 1em;
    font-size: 1.2em;
    text-transform: none;
    font-family: 'Lato', sans-serif;
}
#registerButton:hover
{
    background-color: #3f3e3e;
}
#logoutButton:hover
{
    background-color: #3f3e3e;
}
#logoutButton
{
    width: 40%;
    height: 65%;
    color: #fff;
    font-weight: bold;
    border-radius: 1em;
    font-size: 1.2em;
    text-transform: none;
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .bar{
        width: 75%;
    }
    .leftDiv{
        width: 15%;
    }
    .rightDiv{
        width: 20%;
        display: grid;
    }
    #loginButton{
        border-radius: 0.7em;
        font-size: 0.65em;
    }
    #registerButton{
        border-radius: 0.7em;
        font-size: 0.65em;
    }
    #tabs{
        min-width: auto;
        font-size: 0.6em;
    }
    #logoutButton{
        border-radius: 0.7em;
        font-size: 0.5em;
    }
}