.headlineLandingPage{
    white-space: initial;
    color: #302f2f;
    font-size: 2.2em;
    width: 90%;
    margin: 10% 5% 0;
    line-height: 1em;
    font-family: 'Josefin Sans', sans-serif;
    height: 20%;
}
.textLandingPage{
    width: 15%;
    height: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 1.2em;
    color: #302f2f;
    font-family: 'Lato', sans-serif;
}
.logoLandingPage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 42.5%;
    height: 100%;
    cursor: pointer;
}
.landingPageIconsBottomDiv{
    width: 100%;
    height: 200%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.landingPageIcons{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
    width: 12%;
    height: 100%;
}
.landingPageBottomDiv{
    width: 100%;
    height: 15%;
    margin-top: 10%;
}
@media only screen and (max-device-width: 480px) {
    .landingPageIcons{
        background-size: 80%;
    }
    .landingPageBottomDiv{
        margin-top: 60%;
    }
    .headlineLandingPage{
        font-size: 1.5em;
    }
    .textLandingPage{
        font-size: 0.7em;
        width: 25%;
    }
    .logoLandingPage{
        width: 37.5%;
    }
}