.label
{
    width: 100%;
    height: 50%;
    font-size: 1.7em;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #302f2f;
}
.autoComplete{
    display: flex;
    outline: none;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    border: 0;
    width: 100%;
    border-radius: 1em;
    align-self: center;
}
.autoCompleteDiv{
    width: 60%;
}
.autoCompleteFiller{
    width: 20%;
}
.divContainer{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    height: 40%;
}
@media only screen and (max-device-width: 480px) {
    .autoCompleteFiller{
        width: 0;
    }
    .autoCompleteDiv{
        width: 100%;
    }
    .text{
        font-size: 2.5vw;
    }
    .divContainer{
        height: 20%;
    }
    .label{
        font-size: 18px;
        height: 35%;
    }
    .input{
        height: 25%;
        margin: 5%;
        font-size: 12px;
    }
}