.mainDiv{
    margin-top: 0.4%;
    height : 92.2%;
    width  : 100%;
    display: flex;
    overflow: hidden;
}
.outerDiv{
    height: 100%;
    width: 22.5%;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centralDiv{
    height: 90%;
    width: 80%;
    background-color: #fadf78;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.contentDiv{
    width: 100%;
    height: 90%;
}
.footerDiv{
    background-color: white;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
#footerButton {
    vertical-align: middle;
    height: 100%;
    color: #3E3B3BFF;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */

    #footerButton{
        font-size: 0.8em;
    }
    .outerDiv{
        width: 15%;
    }
    .centralDiv{
        width: 90%;
    }
}