.COZustand{
    font-size: 32px;
    margin: 25px 25px 10px;
    font-family: 'Lato', sans-serif;
}
.tankNeedle{
    height: 90%;
    width: 40%;
    margin: 5%;
    float: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.chronic{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.chronicTR{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
}
@media only screen and (max-device-width: 480px) {
    .chronic{
        width: 95%;
        margin-left: -2.5%;
    }
    .chronicTR{
        font-size: 0.5em;
        word-wrap: break-word;
        white-space: normal;
    }
    .tankNeedle{
        background-size: 100% auto;
    }
}