.rankingTable{
    width: 80%;
    background-color: #302f2f;
    height: 300px;
    border-radius: 1em;
    color: white;
}
@media only screen and (max-device-width: 480px) {
    .rankingTable{
        height: 350px;
    }
}