.routeOptions{
    background-color: #302f2f;
    width: 50%;
    height: 40%;
    margin-left: 25%;
    margin-right:15%;
    margin-top: 5%;
    border-radius: 20px;

}
.routeOptionsTransportationRow{
    color: white;
    transform: scale(2.8);
    width: 100%;
    margin-left: 25%;
}

.routeOptionsPollutionRow {
    color: #707070;
    transform: scale(2);
    vertical-align: middle;
    float: right;
    padding-right: 10px
}
.routeText{
    color: #fff;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 30%;
}
.routeTextBold{
    color: #fff;
    font-size: 1.4vw;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 30%;
}
.routeSubHeadline{
    text-align: left;
    margin: 5%;
    font-size: 1.2vw;
    color: #302f2f;
    font-family: 'Lato', sans-serif;
}
.routeSubHeadlineBold{
    color: #302F2FFF;
    font-size: 1.4vw;
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .routeOptions{
        width: 95%;
        margin-left: 2.5%;
        margin-right:2.5%;
        margin-top: 5%;
        border-radius: 20px;
    }
    .routeOptionsPollutionRow{
        transform: scale(2);
    }
    .routeOptionsTransportationRow{
        margin-left: 20%;
        transform: scale(2);
    }
    .routeTextBold{
        font-size: 15px;
    }
    .routeText{
        font-size: 8px;
    }
    .routeSubHeadline{
        text-align: center;
        margin: 5%;
        font-size: 0.7em;
        font-family: 'Lato', sans-serif;
    }
    .routeSubHeadlineBold{
        color: #302F2FFF;
        font-size: 18px;
    }
}