.labelSignUp
{
    width: 100%;
    height: 33%;
    border-radius:10px;
    font-size: 1.7vw;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
}

.inputSignUp{
    width: 85%;
    height: 60px;
    margin: 2.5%;
    border-radius: 1em;
    font-size: 1em;
    outline: none;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    border: 0;
}
.divContainerSignUp{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}
.optional{
    font-size: 0.5em;
    color: #444444FF;
}
.subHeadLineSignUp{
    font-size: 1.3vw;
    margin-bottom: 2%;
}
.signUpInformation{
    font-size: 1em;
    text-align: left;
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    line-height: 1.3em;
    color: #302f2f;
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-device-width: 480px) {
    .signUpInformation{
        font-size: 0.7em;
    }
    .subHeadLineSignUp{
        font-size: 1.5vw;
        margin-bottom: 3%;
    }
    .optional{
        font-size: 8px;
    }
    .text{
        font-size: 2.5vw;
    }
    .divContainerSignUp{
        height: 25%;
    }
    .labelSignUp{
        font-size: 17px;
        height: 35%;
    }
    .inputSignUp{
        height: 23%;
        margin: 5%;
        font-size: 0.5em;
    }
}