.headLine{
    font-size: 3.5em;
    font-weight: 600;
    color: #302f2f;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
}
.subHeadLine{
    font-size: 2vw;
    font-weight: 400;
    color: black;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.text{
    text-align: center;
    margin: 2.5% 5%;
    font-size: 1.2em;
    color: #302f2f;
    font-family: 'Lato', sans-serif;
}
.textLeftAligned{
    text-align: left;
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    line-height: 1.3em;
    font-size: 1.2em;
    color: #302f2f;
    font-family: 'Lato', sans-serif;
}
.impressumText{
    margin-right: 5%;
    font-size: 1em;
    color: #302f2f;
    font-family: 'Lato', sans-serif;
}

#buttonLogin{
    border-radius: 0.75em;
    background-color: black;
    color: white;
    font-size: 1.7vw;
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .impressumText{
        font-size: 0.3em;
    }
    #buttonLogin{
        height: 40px;
        border-radius: 20px;
    }
    .headLine{
        font-size: 2.7em;
    }
    .textLeftAligned{
        font-size: 0.7em;
        margin-bottom: 5%;
    }
}